{% extends 'base.html.twig' %}

{% block title %}Outreach Digital{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('/assets/styles/home.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('/assets/scripts/home.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="sections-container" style="margin-top: -2em">
        <div class="heading-section" style="margin-top: 0.5rem;">
            <h1>ÎMBINĂM VIZIUNEA CU STRATEGIA PENTRU UN SUCCES GARANTAT!</h1>
            <img src="{{ asset('assets/img/img_show.png') }}" class="heading-section-image">
        </div>

        <div class="section">
            <div class="text-small">Folosit și recomandat de peste 10 branduri</div>
        </div>

        <div class="section" style="margin-top: 0.25rem;">
            <div class="collaborators-section">
                <img src="{{ asset('assets/img/logo-text-voicera.png') }}" class="logo-collaborators">
                <img src="{{ asset('assets/img/logo-text-maurer-kinder-joy.png') }}" class="logo-collaborators">
                <img src="{{ asset('assets/img/logo-text-hepa.png') }}" class="logo-collaborators">
            </div>
        </div>

        <div class="section remove-top-mobile" style="margin-top: 4rem;">
            <div class="text-cta">Începe turul online!</div>
        </div>
        <div class="section" style="margin-top: 0.5rem;">
            <img onclick="goToSection('comparison')" src="{{ asset('assets/svg/down-arrow-in-circle.svg') }}"
                 class="general-svg nextButton">
        </div>

        <div id="comparison" class="generic-section">
            <h1>De ce marketing digital?</h1>
            <div class="text-small small-text-mobile" style="font-size: 24px; width: 80%;">
                <b style="color: #4C74FC;">Măsurabilitate și analiză mai precisă:</b> Marketingul digital oferă
                instrumente avansate de analiză și măsurare a rezultatelor campaniilor. Poți urmări în timp real
                performanța campaniilor tale și să ajustezi strategia în funcție de datele colectate.
            </div>
            <div class="text-small small-text-mobile" style="font-size: 24px; width: 80%; margin-top: 25px;">
                <b style="color: #4C74FC;">Targetare precisă:</b> Cu marketingul digital, poți să-ți îndrepți eforturile
                către un public specific. Platformele online permit segmentarea precisă a audienței, astfel încât
                mesajul tău să ajungă la cei mai potriviți potențiali clienți.
            </div>
            <div class="text-small small-text-mobile" style="font-size: 24px; width: 80%; margin-top: 25px;">
                <b style="color: #4C74FC;">Costuri mai mici:</b> În general, costurile asociate cu marketingul digital
                pot fi mai mici decât cele ale marketingului tradițional. Poți începe cu bugete mai mici și să ajustezi
                în funcție de performanță.
            </div>
            <div class="text-small small-text-mobile" style="font-size: 24px; width: 80%; margin-top: 25px;">
                <b style="color: #4C74FC;">Interacțiune directă cu publicul:</b> Marketingul digital facilitează
                interacțiunea directă cu publicul. Prin intermediul rețelelor sociale, e-mailurilor, blogurilor și altor
                canale online, poți să comunici direct cu clienții tăi și să primești feedback în timp real.
            </div>
            <div class="text-small small-text-mobile" style="font-size: 24px; width: 80%; margin-top: 25px;">
                <b style="color: #4C74FC;">Flexibilitate și adaptabilitate:</b> În mediul digital, poți ajusta rapid și
                ușor strategiile și mesajele de marketing în funcție de schimbările în comportamentul consumatorilor sau
                în piață. Acest nivel de flexibilitate poate fi dificil de atins în marketingul tradițional.
            </div>
            <div class="text-small small-text-mobile" style="font-size: 24px; width: 80%; margin-top: 25px;">
                <b style="color: #4C74FC;">Globalizare și extindere rapidă:</b> Marketingul digital facilitează accesul
                la piețe globale. Poți să-ți extinzi afacerea către noi teritorii fără costuri semnificative, în
                comparație cu marketingul tradițional.
            </div>
            <div class="text-small small-text-mobile" style="font-size: 24px; width: 80%; margin-top: 25px;">
                <b style="color: #4C74FC;">Credibilitate și recunoaștere a brandului:</b> O prezență solidă pe internet,
                prin intermediul unui site web profesionist, a rețelelor sociale și a altor canale digitale, poate
                contribui la creșterea credibilității și recunoașterii brandului tău.
            </div>

            <div class="section remove-top-mobile-half">
                <div class="text-cta">De ce noi?</div>
            </div>
            <div class="section" style="margin-top: 0.5rem;">
                <img onclick="goToSection('whyUs')" src="{{ asset('assets/svg/down-arrow-in-circle.svg') }}"
                     class="general-svg nextButton">
            </div>
        </div>

        <div id="whyUs" class="generic-section">
            <h1>De ce noi?</h1>
            <ul>
                <li style="margin-left: -30%" class="on-scroll-visibility">
                    <div class="li-title left">Dezlănțuim potențialul</div>
                    Noi credem cu tărie că orice business are un potențial aparte nedescoperit. Scopul nostru nu este
                    numai să-l dezvăluim, ci să-l potențăm cu fiecare campanie creativă pe care o oferim.
                </li>
                <li style="margin-right: -30%" class="on-scroll-visibility">
                    <div class="li-title right">Suntem adepții strategiei</div>
                    Suntem oameni dornici de a afla mai mult. De aceea suntem într-un continuu studiu al pieței, al unor
                    noi strategii, al unor noi mijloace de a crea conținut original adaptat perfect la nevoile
                    dumneavoastră.
                </li>
                <li style="margin-left: -30%" class="on-scroll-visibility">
                    <div class="li-title left">Povestea ta, pânza noastră</div>
                    Noi nu vrem doar să creăm campanii de marketing. Scopul nostru este să slefuim poveștile
                    dumneavoastră în așa fel încât să rezonăm cu principiile business-ului în care investiți și credeți.
                    Pentru noi, brandul tău nu este doar un logo, ci o experiență.
                </li>
                <li style="margin-right: -30%" class="on-scroll-visibility">
                    <div class="li-title right">Suntem cu tine oriunde te-ai afla</div>
                    Am optat pentru mediul online pentru a-ți putea fi alături în cele mai mari proiecte ale tale de
                    oriunde foarte ușor și confortabil.
                </li>
                <li style="margin-left: -30%" class="on-scroll-visibility">
                    <div class="li-title left">Focusați pe tehnologie</div>
                    Cu noi nu trebuie să-ți faci probleme în privința tehnologizării brandului tău. Suntem o echipă
                    tânără, adaptată la tot ce apare nou, dispusă să învețe orice pentru a oferi cele mai calitative
                    materiale online.
                </li>
                <li style="margin-right: -30%" class="on-scroll-visibility">
                    <div class="li-title right">Colaborare</div>
                    Echipa noastră crede în ideea că oamenii ajută alți oameni. De aceea, tindem să creăm o relație
                    strânsă și un mediu relaxat cu clienții noștri, pentru ca rezultatul final să fie unul de cea mai
                    bună calitate, transpunând fix viziunea dumneavoastră.
                </li>
            </ul>

            <div class="section" style="margin-top: 4rem;">
                <div class="text-cta">Haideți să pășim împreună într-o lume în care există posibilități nenumărate!
                </div>
            </div>
            <div class="section" style="margin-top: 0.5rem;">
                <img onclick="goToSection('services')" src="{{ asset('assets/svg/down-arrow-in-circle.svg') }}"
                     class="general-svg nextButton">
            </div>
        </div>

        <div id="services" class="generic-section">
            <h1>Serviciile noastre</h1>
            <div class="text-small small-text-mobile" style="font-size: 20px; width: 70%; margin-top: 30px;">
                Noi nu vom fi doar o echipă de marketing pentru proiectul dumneavoastră. Noi suntem niște visători și
                arhitecți ai visurilor dumneavoastră, dar și campioni ai succesului! Bine ați venit într-un loc în care
                aspirațiile dumneavoastră sunt inspirația noastră!
            </div>
            <div class="services-card-line-wrapper">
                <div onclick="redirectToRoute('{{ path('individuals', {'key' : 'branding_rebranding'}) }}')"
                     class="services-card on-scroll-visibility">Branding / Rebranding
                </div>
                <div onclick="redirectToRoute('{{ path('individuals', {'key' : 'strategie_digitala'}) }}')"
                     class="services-card on-scroll-visibility">Strategie Digitală
                </div>
                <div onclick="redirectToRoute('{{ path('individuals', {'key' : 'web_design'}) }}')"
                     class="services-card on-scroll-visibility">Web Design
                </div>
            </div>
            <div class="services-card-line-wrapper">
                <div onclick="redirectToRoute('{{ path('individuals', {'key' : 'campanii_ppc'}) }}')"
                     class="services-card on-scroll-visibility">Google / YouTube ADS
                </div>
                <div onclick="redirectToRoute('{{ path('individuals', {'key' : 'campanii_ppc'}) }}')"
                     class="services-card on-scroll-visibility">Facebook ADS
                </div>
                <div onclick="redirectToRoute('{{ path('individuals', {'key' : 'social_media_management'}) }}')"
                     class="services-card on-scroll-visibility">Social Media Marketing
                </div>
            </div>
            <div class="services-card-line-wrapper">
                <div onclick="redirectToRoute('{{ path('individuals', {'key' : 'optimizare_seo'}) }}')"
                     class="services-card on-scroll-visibility">Search Engine Optimizations
                </div>
                <div onclick="redirectToRoute('{{ path('individuals', {'key' : 'copywriting'}) }}')"
                     class="services-card on-scroll-visibility">Copywriting
                </div>
                <div onclick="redirectToRoute('{{ path('individuals', {'key' : 'materiale_promotionale'}) }}')"
                     class="services-card on-scroll-visibility">Promoționale
                </div>
            </div>

            <div class="section remove-top-mobile-half" style="margin-top: 10rem;">
                <div class="text-cta">Cum arată o colaborare cu noi?</div>
            </div>
            <div class="section" style="margin-top: 0.5rem;">
                <img onclick="goToSection('methodology')" src="{{ asset('assets/svg/down-arrow-in-circle.svg') }}"
                     class="general-svg nextButton">
            </div>
        </div>

        <div id="methodology" class="generic-section">
            <h1>Metodologie</h1>
            <div class="timeline">
                <div class="outer">
                    <div class="card">
                        <div class="info">
                            <h3 class="title">Ne contactezi</h3>
                            <p class="text">Cel mai important pas pentru a ne cunoaște!</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="info">
                            <h3 class="title">Ne întâlnim</h3>
                            <p class="text">Pentru a cunoaște business-ul tău și viziunea ta.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="info">
                            <h3 class="title">Planificăm</h3>
                            <p class="text">Împreună vom alege cele mai bune strategii pentru business-ul tău.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="info">
                            <h3 class="title">Research</h3>
                            <p class="text">Vom analiza piața și competiția din nișa business-ului tău.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="info">
                            <h3 class="title">Implementăm</h3>
                            <p class="text">Aplicăm strategiile alese împreună!</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="info">
                            <h3 class="title">Feedback</h3>
                            <p class="text">Îți vom trimite rapoarte cu performanțele aplicate și modificăm la nevoie!</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="info">
                            <h3 class="title">Rezultate</h3>
                            <p class="text">Ne vom bucura împreună de rezultatele obținute!</p>
                        </div>
                    </div>
                </div>
            </div>
            {#            <div class="line"> #}
            {#                <div class="text-cta line-element"> #}
            {#                    <div class="dot"> #}
            {#                        <div class="line-text left tooltip"> #}
            {#                            Ne contactezi #}
            {#                            <span class="tooltip-text">Cel mai important pas pentru a ne cunoaște!</span> #}
            {#                        </div> #}
            {#                    </div> #}
            {#                </div> #}
            {#                <div class="text-cta line-element"> #}
            {#                    <div class="dot"> #}
            {#                        <div class="line-text right tooltip"> #}
            {#                            Ne întâlnim #}
            {#                            <span class="tooltip-text">Pentru a cunoaște business-ul tău și viziunea ta.</span> #}
            {#                        </div> #}
            {#                    </div> #}
            {#                </div> #}
            {#                <div class="text-cta line-element"> #}
            {#                    <div class="dot"> #}
            {#                        <div class="line-text left tooltip"> #}
            {#                            Planificăm #}
            {#                            <span class="tooltip-text">Împreună vom alege cele mai bune strategii pentru business-ul tău.</span> #}
            {#                        </div> #}
            {#                    </div> #}
            {#                </div> #}
            {#                <div class="text-cta line-element"> #}
            {#                    <div class="dot"> #}
            {#                        <div class="line-text right tooltip"> #}
            {#                            Research #}
            {#                            <span class="tooltip-text">Vom analiza piața și competiția din nișa business-ului tău.</span> #}
            {#                        </div> #}
            {#                    </div> #}
            {#                </div> #}
            {#                <div class="text-cta line-element"> #}
            {#                    <div class="dot"> #}
            {#                        <div class="line-text left tooltip"> #}
            {#                            Implementăm #}
            {#                            <span class="tooltip-text">Aplicăm strategiile alese împreună!</span> #}
            {#                        </div> #}
            {#                    </div> #}
            {#                </div> #}
            {#                <div class="text-cta line-element"> #}
            {#                    <div class="dot"> #}
            {#                        <div class="line-text right tooltip"> #}
            {#                            Feedback #}
            {#                            <span class="tooltip-text">Îți vom trimite rapoarte cu performanțele aplicate și modificăm la nevoie!</span> #}
            {#                        </div> #}
            {#                    </div> #}
            {#                </div> #}
            {#                <div class="text-cta line-element"> #}
            {#                    <div class="dot"> #}
            {#                        <div class="line-text left tooltip"> #}
            {#                            Rezultate #}
            {#                            <span class="tooltip-text">Ne vom bucura împreună de rezultatele obținute!</span> #}
            {#                        </div> #}
            {#                    </div> #}
            {#                </div> #}
            {#            </div> #}

            <div class="section remove-top-mobile-half" style="margin-top: 10rem;">
                <div class="text-cta">Contactează-ne!</div>
            </div>
            <div class="section" style="margin-top: 0.5rem;">
                <img onclick="goToSection('contact')" src="{{ asset('assets/svg/down-arrow-in-circle.svg') }}"
                     class="general-svg nextButton">
            </div>
        </div>

        <div id="contact" class="generic-section">
            <h1>Hai să ne auzim!</h1>

            {#            <div class="text-small small-text-mobile" style="font-size: 20px; width: 70%; margin-top: 30px;"> #}
            {#                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et #}
            {#                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip #}
            {#                ex ea commodo consequat. #}
            {#            </div> #}

            <form id="landingContactForm" class="contact-form row" method="POST">
                <input id="entries" name="entries" type="hidden">
                <div class="form-field col x-50">
                    <input id="lastName" name="lastName" class="input-text js-input" type="text" required>
                    <label class="label" for="lastName">Nume</label>
                </div>
                <div class="form-field col x-50">
                    <input id="firstName" name="firstName" class="input-text js-input" type="text" required>
                    <label class="label" for="firstName">Prenume</label>
                </div>
                <div class="form-field col x-50">
                    <input id="email" name="email" class="input-text js-input" type="email" required>
                    <label class="label" for="email">E-mail</label>
                </div>
                <div class="form-field col x-50">
                    <input id="phone" name="phone" class="input-text js-input" type="tel" required>
                    <label class="label" for="phone">Telefon</label>
                </div>
                <div class="form-field col x-100">
                    <textarea id="message" name="message" class="input-text js-input" type="text" required></textarea>
                    <label class="label" for="message">Message</label>
                </div>
                <div class="form-field col x-100 align-center">
                    <input class="submit-btn" type="submit" value="Trimite">
                </div>
            </form>
        </div>
    </div>

    <script>
        {% if error is defined %}
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: '{{ error }}',
            confirmationButtonColor: '#4C74FC',
            scrollbarPadding: false,
            heightAuto: false,
        }).then(() => {
            window.location.href = '{{ path('landing') }}';
        })
        {% endif %}

        {% if success is defined %}
        {% else %}
        {% if source is defined and source == 'contact' %}
        Swal.fire({
            icon: 'success',
            title: 'Multumim de contact!',
            text: 'Mesajul tau a fost trimis cu succes! Vom reveni in cel mai scurt timp posibil!',
            confirmationButtonColor: '#4C74FC',
            scrollbarPadding: false,
            heightAuto: false,
        }).then(() => {
            window.location.href = '{{ path('landing') }}';
        })
        {% endif %}
        {% endif %}

        let nextButtons = document.querySelectorAll('.nextButton');
        nextButtons.forEach(nextButton => {
            nextButton.addEventListener("click", ev => {
                nextButton.classList.add('pulse')
                setTimeout(function () {
                    nextButton.classList.remove('pulse')
                }, 500);
            })
        })

        let elementsToShowOnScroll = document.querySelectorAll('.on-scroll-visibility');
        window.onscroll = function () {
            elementsToShowOnScroll.forEach(element => {
                if (document.documentElement.scrollTop > element.getBoundingClientRect().top) {
                    element.style.opacity = '1';
                }
            })
        }

        document.querySelectorAll('.js-input').forEach(input => {
            input.addEventListener('input', ev => {
                if (input.value != null) {
                    input.classList.add('not-empty')
                } else {
                    input.classList.remove('not-empty')
                }
            })
        })


        var all = document.getElementsByTagName("*"), i = 0, rect;
        for (; i < all.length; i++) {
            rect = all[i].getBoundingClientRect();
            if (rect.right < 0) all[i].style.outline = "1px solid red";
        }
    </script>
{% endblock %}