{% extends 'base.html.twig' %}

{% block title %}Outreach Digital{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('/assets/styles/home.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('/assets/scripts/home.js') }}"></script>
{% endblock %}

{% block body %}
    {% include 'general/header.html.twig' %}
    <div class="sections-container" style="margin-top: -2em">
        <div class="heading-section" style="margin-top: 0.5rem;">
            <h1>Imbinam viziunea cu strategia pentru un succes garantat!</h1>
            <img src="{{ asset('assets/img/img_show.png') }}" class="heading-section-image">
        </div>

        <div class="section">
            <div class="text-small">Folosit si recomandat de peste 10 branduri</div>
        </div>

        <div class="section" style="margin-top: 0.25rem;">
            <div class="collaborators-section">
                <img src="{{ asset('assets/img/random_logo.png') }}" class="logo-collaborators">
                <img src="{{ asset('assets/img/random_logo.png') }}" class="logo-collaborators">
                <img src="{{ asset('assets/img/random_logo.png') }}" class="logo-collaborators">
            </div>
        </div>

        <div class="section remove-top-mobile" style="margin-top: 4rem;">
            <div class="text-cta">Incepe turul online!</div>
        </div>
        <div class="section" style="margin-top: 0.5rem;">
            <img onclick="goToSection('whyUs')" src="{{ asset('assets/svg/down-arrow-in-circle.svg') }}"
                 class="general-svg nextButton">
        </div>

        <div id="whyUs" class="generic-section">
            <h1>De ce noi?</h1>
            <ul>
                <li style="margin-left: -30%" class="on-scroll-visibility">
                    <div class="li-title left">Dezlantuim potentialul</div>
                    Noi credem cu tarie ca orice business are un potential aparte nedescoperit. Scopul nostru nu este
                    numai sa il dezvaluim,ci sa il potentam cu fiecare campanie creativa pe care o oferim.
                </li>
                <li style="margin-right: -30%" class="on-scroll-visibility">
                    <div class="li-title right">Suntem adeptii strategiei</div>
                    Suntem oameni dornici de a afla mai mult. De aceea suntem intr-un continuu studiu al pietei,al unor
                    noi strategii,al unor noi mijloace de a creea continut original adaptat perfect la nevoile
                    dumneavoastra.
                </li>
                <li style="margin-left: -30%" class="on-scroll-visibility">
                    <div class="li-title left">Povestea ta, panza noastra</div>
                    Noi nu vrem doar sa creem campanii de marketing. Scopul nostru este sa slefuim povestiile
                    dumneavoastra in asa fel incat sa rezoneze cu principiile business ului in care investiti si
                    credeti. Pentru noi,brand ul tau nu este doar un logo,ci o experienta.
                </li>
                <li style="margin-right: -30%" class="on-scroll-visibility">
                    <div class="li-title right">Suntem cu tine oriunde te-ai afla</div>
                    Am optat pentru mediul online pentru a iti putea fi alaturi in cele mai mari proiecte ale tale de
                    oriunde foarte usor si comfortabil.
                </li>
                <li style="margin-left: -30%" class="on-scroll-visibility">
                    <div class="li-title left">Focusati pe tehnologie</div>
                    Cu noi nu trebuie sa iti faci probleme in privinta tehnologizarii brandului tau. Suntem o echipa
                    tanara, adaptata la tot ce apare nou, dispusi sa invete orice pentru a oferi cele mai calitative
                    materiale online.
                </li>
                <li style="margin-right: -30%" class="on-scroll-visibility">
                    <div class="li-title right">Colaborare</div>
                    Echipa noastra crede in ideea ca oamenii ajuta alti oameni. De aceea tindem sa creem o relatie
                    stransa si un mediu relaxat cu clientii nostrii pentru ca rezultatul final sa fie unul de cea mai
                    buna calitate transpunand fix viziunea dumneavoastra.
                </li>
            </ul>

            <div class="section" style="margin-top: 4rem;">
                <div class="text-cta">Haideti sa pasim impreuna intr-o lume in care exista posibilitati nenumarate!
                </div>
            </div>
            <div class="section" style="margin-top: 0.5rem;">
                <img onclick="goToSection('services')" src="{{ asset('assets/svg/down-arrow-in-circle.svg') }}"
                     class="general-svg nextButton">
            </div>
        </div>

        <div id="services" class="generic-section">
            <h1>Serviciile noastre</h1>
            <div class="text-small small-text-mobile" style="font-size: 20px; width: 70%; margin-top: 30px;">
                Noi nu vom fi doar o echipa de marketing pentru proiectul dumneavoastra. Noi suntem niste visatori si
                arhitecti ai visurilor dumneavoastra, dar si campioni ai succesului! Bine ati venit intr-un loc in care
                aspiratiile dumneavoastra sunt inspiratia noastra!
            </div>
            <div class="services-card-line-wrapper">
                <div onclick="redirectToRoute('{{ path('individuals', {'key' : 'branding_rebranding'}) }}')" class="services-card on-scroll-visibility">Branding / Rebranding</div>
                <div onclick="redirectToRoute('{{ path('individuals', {'key' : 'strategie_digitala'}) }}')" class="services-card on-scroll-visibility">Strategie Digitala</div>
                <div onclick="redirectToRoute('{{ path('individuals', {'key' : 'web_design'}) }}')" class="services-card on-scroll-visibility">Web Design</div>
            </div>
            <div class="services-card-line-wrapper">
                <div onclick="redirectToRoute('{{ path('individuals', {'key' : 'campanii_ppc'}) }}')" class="services-card on-scroll-visibility">Google / YouTube ADS</div>
                <div onclick="redirectToRoute('{{ path('individuals', {'key' : 'campanii_ppc'}) }}')" class="services-card on-scroll-visibility">Facebook ADS</div>
                <div onclick="redirectToRoute('{{ path('individuals', {'key' : 'social_media_management'}) }}')" class="services-card on-scroll-visibility">Social Media Marketing</div>
            </div>
            <div class="services-card-line-wrapper">
                <div onclick="redirectToRoute('{{ path('individuals', {'key' : 'optimizare_seo'}) }}')" class="services-card on-scroll-visibility">Search Engine Optimizations</div>
                <div onclick="redirectToRoute('{{ path('individuals', {'key' : 'copywriting'}) }}')" class="services-card on-scroll-visibility">Copyrighting</div>
                <div onclick="redirectToRoute('{{ path('individuals', {'key' : 'materiale_promotionale'}) }}')" class="services-card on-scroll-visibility">Promotionale</div>
            </div>

            <div class="section remove-top-mobile-half" style="margin-top: 10rem;">
                <div class="text-cta">Cum arata o colaborare cu noi?</div>
            </div>
            <div class="section" style="margin-top: 0.5rem;">
                <img onclick="goToSection('methodology')" src="{{ asset('assets/svg/down-arrow-in-circle.svg') }}"
                     class="general-svg nextButton">
            </div>
        </div>

        <div id="methodology" class="generic-section">
            <h1>Metodologie</h1>
            <div class="line">
                <div class="text-cta line-element">
                    <div class="dot">
                        <div class="line-text left tooltip">
                            Ne contactezi
                            <span class="tooltip-text">Cel mai important pas pentru a ne cunoaste!</span>
                        </div>
                    </div>
                </div>
                <div class="text-cta line-element">
                    <div class="dot">
                        <div class="line-text right tooltip">
                            Ne intalnim
                            <span class="tooltip-text">Pentru a cunoaste businessul tau si viziunea ta.</span>
                        </div>
                    </div>
                </div>
                <div class="text-cta line-element">
                    <div class="dot">
                        <div class="line-text left tooltip">
                            Planificam
                            <span class="tooltip-text">Impreuna vom alege cele mai bune strategii pentru businessul tau.</span>
                        </div>
                    </div>
                </div>
                <div class="text-cta line-element">
                    <div class="dot">
                        <div class="line-text right tooltip">
                            Research
                            <span class="tooltip-text">Vom analiza piata si competitia din nisa businessului tau.</span>
                        </div>
                    </div>
                </div>
                <div class="text-cta line-element">
                    <div class="dot">
                        <div class="line-text left tooltip">
                            Implementam
                            <span class="tooltip-text">Aplicam strategiile alese impreuna!</span>
                        </div>
                    </div>
                </div>
                <div class="text-cta line-element">
                    <div class="dot">
                        <div class="line-text right tooltip">
                            Feedback
                            <span class="tooltip-text">Iti vom trimite rapoarte cu performantele aplicate si modificam la nevoie!</span>
                        </div>
                    </div>
                </div>
                <div class="text-cta line-element">
                    <div class="dot">
                        <div class="line-text left tooltip">
                            Rezultate
                            <span class="tooltip-text">Ne vom bucura impreuna de rezultatele obtinute!</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section remove-top-mobile-half" style="margin-top: 10rem;">
                <div class="text-cta">Contacteaza-ne!</div>
            </div>
            <div class="section" style="margin-top: 0.5rem;">
                <img onclick="goToSection('contact')" src="{{ asset('assets/svg/down-arrow-in-circle.svg') }}"
                     class="general-svg nextButton">
            </div>
        </div>

        <div id="contact" class="generic-section">
            <h1>Hai sa ne auzim!</h1>

            <div class="text-small small-text-mobile" style="font-size: 20px; width: 70%; margin-top: 30px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.
            </div>

            <form id="landingContactForm" class="contact-form row" method="POST">
                <input id="entries" name="entries" type="hidden">
                <div class="form-field col x-50">
                    <input id="firstName" name="firstName" class="input-text js-input" type="text" required>
                    <label class="label" for="firstName">Nume</label>
                </div>
                <div class="form-field col x-50">
                    <input id="lastName" name="lastName" class="input-text js-input" type="text" required>
                    <label class="label" for="lastName">Prenume</label>
                </div>
                <div class="form-field col x-50">
                    <input id="email" name="email" class="input-text js-input" type="email" required>
                    <label class="label" for="email">E-mail</label>
                </div>
                <div class="form-field col x-50">
                    <input id="phone" name="phone" class="input-text js-input" type="tel" required>
                    <label class="label" for="phone">Telefon</label>
                </div>
                <div class="form-field col x-100">
                    <textarea id="message" name="message" class="input-text js-input" type="text" required></textarea>
                    <label class="label" for="message">Message</label>
                </div>
                <div class="form-field col x-100 align-center">
                    <input class="submit-btn" type="submit" value="Trimite">
                </div>
            </form>
        </div>

        {% include 'general/footer.html.twig' %}
    </div>

    <script>
        let nextButtons = document.querySelectorAll('.nextButton');
        nextButtons.forEach(nextButton => {
            nextButton.addEventListener("click", ev => {
                nextButton.classList.add('pulse')
                setTimeout(function () {
                    nextButton.classList.remove('pulse')
                }, 500);
            })
        })

        let elementsToShowOnScroll = document.querySelectorAll('.on-scroll-visibility');
        window.onscroll = function () {
            elementsToShowOnScroll.forEach(element => {
                if (document.documentElement.scrollTop > element.getBoundingClientRect().top) {
                    element.style.opacity = '1';
                }
            })
        }

        document.querySelectorAll('.js-input').forEach(input => {
            input.addEventListener('input', ev => {
                if (input.value != null) {
                    input.classList.add('not-empty')
                } else {
                    input.classList.remove('not-empty')
                }
            })
        })


        var all = document.getElementsByTagName("*"), i = 0, rect;
        for (; i < all.length; i++) {
            rect = all[i].getBoundingClientRect();
            if (rect.right < 0) all[i].style.outline = "1px solid red";
        }
    </script>
{% endblock %}