{% extends 'base.html.twig' %}

{% block title %}Outreach Digital | {{ context.title }}{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('/assets/styles/home.css') }}" rel="stylesheet">
    <style>
        body {
            overflow-x: hidden;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('/assets/scripts/home.js') }}"></script>
{% endblock %}

{% block body %}
    {% include 'general/header.html.twig' %}
    <div id="details" class="individuals-container">
        <h3 class="individuals-title">{{ context.title }}</h3>
        <div class="individuals-info-container">
            <p class="individuals-p">
                {{ context.body1 }}{{ context.body2 }}
                <br><br>Vezi prețurile și serviciile noastre <u onclick="showPrices()" style="cursor: pointer">aici</u>.
            </p>
            <div style="width: 25%;">
                <img style="width: 100%;" src="{{ asset('/assets/img/individuals/'~context.originalKey~'.png') }}">
            </div>
        </div>
    </div>

    <div id="prices" style="margin-top: -75vh; width: 100%; display: none; justify-content: center;" class="go-to-top-on-mobile">
        <div class="plan-box">
            <div style="width: 100%; display: flex; justify-content: end; align-items: center; color: white;">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                     class="w-6 h-6" style="width: 30px; height: 30px; cursor: pointer" onclick="hidePrices()">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
            </div>
            <h4 style="color: white; font-size: 2.5em; margin: -10px 0 40px 0;">Servicii</h4>

            <div style="width: 100%; display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                {% for item in context.attributes %}
                    <div style="width: 100%; display: flex; justify-content: space-between; align-items: center; color: white; margin: 0 0 30px 0;">
                        <h4 class="plan-box-item" style="color: white; font-size: 1.25em; margin: 0;">{{ item }}</h4>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" style="width: 30px; height: 30px;">
                            <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                        </svg>
                    </div>
                {% endfor %}
            </div>

            <h5 style="margin: 0; color: white; font-size: 1.5em;">* de la</h5>
            <h4 style="color: white; font-size: 2.5em; margin: 0 0 20px 0;">{{ context.price }} {{ context.unit }}</h4>

            <div class="goto-contact-button" onclick="markCurrentPageAsSource()">Contacteaza-ne!</div>
        </div>
    </div>


    {% include 'general/footer.html.twig' %}

    <script>
        function showPrices() {
            document.getElementById('details').style.opacity = '0.1';
            document.getElementById('details').style.pointerEvents = 'none';
            document.getElementById('details').style.zIndex = '-1';
            document.getElementById('prices').style.display = 'flex';
            document.getElementById('prices').style.zIndex = '10000';
            document.getElementById('prices').scrollIntoView({ behavior: 'smooth' });
        }

        function hidePrices() {
            document.getElementById('details').style.opacity = '1';
            document.getElementById('details').style.pointerEvents = 'auto';
            document.getElementById('details').style.zIndex = '10000';
            document.getElementById('header').scrollIntoView({ behavior: 'smooth' });
            document.getElementById('prices').style.display = 'none';
            document.getElementById('prices').style.zIndex = '-1';
        }
    </script>
{% endblock %}